<section class="wrapper">
  <mat-card>


    <!-- title -->
    <mat-card-title>	
      <app-title></app-title>
    </mat-card-title>
    <!-- ./title -->


    <!-- form -->
    <form [formGroup]="commentForm" (ngSubmit)="submit()">
      <textarea formControlName="comment" class="chat-input" placeholder="Write something"></textarea>
      <emoji-mart
        [darkMode]="false"
        (emojiClick)="addEmoji($event)"
        *ngIf="showEmoji"
        [hideObsolete]="true"
        [showPreview]="false"
        [enableSearch]="false"
        [isNative]="true">
      >
      </emoji-mart>

      <mat-card-actions>	
        <button 
          type="button" 
          mat-button 
          color="primary"
          [disableRipple]="true" 
          class="btn-keyboard_emoji"
          (click)="showEmojiPicker()"
        >
          <mat-icon>{{showEmoji ? 'keyboard': 'tag_faces'}}</mat-icon>
        </button>

        <button mat-flat-button color="primary" type="submit">
          Save
        </button>
      </mat-card-actions>
    </form>
    <!-- ./form -->


    <div class="comment-scroll_wrapper">
      <!-- comment box -->
      <app-comment-box 
        *ngFor="let comment of comments; index as i"
        [text]="comment.text"
        [dateTime]="comment.dateTime | date: 'medium'"
        (removeCommentHandler)="removeComment(i)"
      >
      </app-comment-box>
      <!-- ./comment box -->
    </div>
    
  </mat-card>
</section>